#page {
    background-color: #ddd;
}

#content {
    background-color: white;
}


#header {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#divLogo{
  background-color: white;
}
#divTitel{
  background-color: RGBA(0,127,202,1);
}
.titel{
  color: white;
  font-size: x-large;
  display: inline-block;
  font-family: "Permanent Marker",handwriting;
}
#me {
    background-color: RGBA(0,127,202,.5);
    padding-top: 20px;
    padding-bottom: 20px;
}
#nav {
    background-color: RGBA(0,127,202,1);
}
#footer {
    background-color: RGBA(0,127,202,1);
}
.medewerker_card {
    margin: 2px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}
.profile_pic {
    padding-top: 5px;
    padding-bottom: 5px;
}
img.afwezig {
    border: 3px solid red;
}
img.aanwezig {
    border: 3px solid green;
}
#mePresence{
    height: 30px;
    width: 30px;
    display: inline-block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  input:read-only {
    border: none;
    outline: none;
  }
  .dirty{
    border: 1px solid red;
    outline: red solid 1px
}
