
body {
}



#page {
    background-color: #ddd;
}

#content {
    background-color: white;
}


#header {
    background-image: url("/images/perldancer.jpg");
    background-repeat: no-repeat;
    background-color: RGBA(0,127,202,1);
    height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#me {
    background-color: RGBA(0,127,202,.5);
    padding-top: 20px;
    padding-bottom: 20px;
}
#nav {
    background-color: RGBA(0,127,202,1);
}
#footer {
    background-color: RGBA(0,127,202,1);
}