#page {
    background-color: #ddd;
}

#content {
    background-color: white;
}


#header {
    background-image: url("/images/perldancer.jpg");
    background-repeat: no-repeat;
    background-color: RGBA(0,127,202,1);
    height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#me {
    background-color: RGBA(0,127,202,.5);
    padding-top: 20px;
    padding-bottom: 20px;
}
#nav {
    background-color: RGBA(0,127,202,1);
}
#footer {
    background-color: RGBA(0,127,202,1);
}
.medewerker_card {
    margin: 2px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}
.profile_pic {
    padding-top: 5px;
    padding-bottom: 5px;
}
img.afwezig {
    border: 3px solid red;
}
img.aanwezig {
    border: 3px solid green;
}
#mePresence{
    height: 30px;
    width: 30px;
    display: inline-block;
}.led.afwezig{
    background-image: url("/images/led_rood.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.led.aanwezig{
    background-image: url("/images/led_groen.png");
    background-repeat: no-repeat;
    background-size: contain;
}